* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header,
footer {
    background-color: orange;
    color: black;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;


}

header {
    flex: 0 0 auto;
    text-align: left;
    height: 150px;
    margin-bottom: 20px;

}

footer {
    margin-top: 30px;
}


.post {
    background-color: pink;
    border: solid white;
    width: 400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 20px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.date {
    font-size: small;
}

.top-menu {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 200px;
    font-size: large;

}

body {
    background-color: darkred;
    color: black;
}


h1 {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 30px;

}